.header {
  position: sticky;
    top: 0;
    z-index: 999;
    padding: 20px 0;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  position: relative;
  padding: 0 20px;
  z-index: 1;
}
.nav-logo::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  width: 60%;
  height: 5px;
  background-color: #41d1ff;
  transition: background-color 200ms ease;
  z-index: -1;
}
.nav-logo:hover::before,
.nav-logo:focus::before {
  background-color: #ff6c0a;
}
#search::before {
  content: '';
  display: block;
  height: 80px;
  margin-top: -80px;
}
html {
  scroll-behavior: smooth;
}
